{% extends "projects/base.html" %}

{% block title %}
    Tracker
{% endblock title %}
{% block content %}
    <main>
    <div>
        <h1 class="center">TaskMaster</h1>
    </div>

        <div class="login-form">
            <h1>Login</h1>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button>Login</button>
            </form>
        </div>
    </main>
{% endblock content %}
